<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DesktopDuplication.Demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DesktopDuplication.Demo.Properties.Settings>
            <setting name="LedCountTop" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LedCountRight" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="LedCountBottom" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="LedCountLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="LedBrightness" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LedFirstIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LedClockwise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LedDeviceCOM" serializeAs="String">
                <value />
            </setting>
            <setting name="LedMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModeScreenPointPerLed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ModeScreenOffset" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ModeScreenPointSpacing" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ModeScreen60Fps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModeScreenToCenter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModeRainbowClockwise" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ModeRainbowSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModeRainbowRepeats" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ModePulseColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ModePulseSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModePulseMinBrightness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ModePulseMaxBrightness" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModeSparkleSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ModeSparkleAmount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ModeSparkleColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ModeSparkleColorRare" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="ModeFixedColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ModeMouseXColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ModeMouseYColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ModeMouseTrailLength" serializeAs="String">
                <value>0.5</value>
            </setting>
        </DesktopDuplication.Demo.Properties.Settings>
    </userSettings>
</configuration>